#demo{
    color: #000000;
}
body{
    background-color: #024e73;
}

.btn-primary{
    background-color: #027373 !important;
    transition: all 0.4s ease;
}
.btn-primary:hover{
    background-color: #10403B !important;
}